.header {
    background: #8a8989;
    padding: 1rem;
}

nav {
    background: #e3e3e3;

    a {
        text-decoration: none;
        display: block;
        padding: 0.6rem;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    background: #fafafa;
}
